body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid #000;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center
}
.yellow{
    background-color: #ff0;
}
.red{
    background-color: #f00;
}
.purple{
    background-color: purple;
}
.green{
    background-color:green;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: rgb(17, 50, 17);
}  